#page_header {
  text-align: center;
}

.centretext {
  text-align: center;
}

.container {
  text-align: justify;
}

.centrecontent {
  display: flex;
  justify-content: center;
}

#score_display {
  font-size: 100%;
  text-align: center;
}

#number_display {
  font-size: 125%;
  text-align: center;
}
#warningMessage {
  font-size: 125%;
  text-align: center;
}
#previous_number_feedback {
  font-size: 125%;
  text-align: center;
}

button {
  margin: 10px;
}
