html {
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  padding: 10px 20px;
  border: 5px gold;
}

.container {
  display: flex;
  flex-direction: column;
}

.box {
  background-color: lightpink;
  position: relative;
  margin: 1%;
}

.box:nth-of-type(2) {
  background-color: lightsalmon;
}

.box4 {
  grid-area: footer;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

@media screen and (min-width: 400px) {
  .container {
    flex-direction: row;
  }
}

@media screen and (min-width: 700px) {
  .container {
    flex-direction: row;
  }
  .box {
    background-color: magenta;
  }
}
