@font-face {
  font-family: AnglicanText;
  src: "../fonts/anglicantext-webfont.woff";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
}

h1 {
}

p {
  font-size: 1rem;
  margin: 0.25rem;
  color: #222;
}

.container {
  display: flex;
  flex-direction: column;
}

.box {
  background-color: lightpink;
  position: relative;
  margin: 1%;
}

.box:nth-of-type(2) {
  background-color: lightsalmon;
}

.box4 {
  grid-area: footer;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

@media screen and (min-width: 400px) {
  .container {
    flex-direction: row;
  }
}

@media screen and (min-width: 700px) {
  .container {
    flex-direction: row;
  }
  .box {
    background-color: magenta;
  }
}
